<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Html Generated</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="C:\Users\heman\Desktop\Folder\Figma\styles.css">
            
            <style>
            
    
            html,body {
              margin: 0; }
            </style>
          
          </head>
          
          <body>
            <div class=e2_2><div  class="e2_10"></div><div  class="e3_2"></div><div class=e2_14><span  class="e2_9">ABOUT</span><span  class="e2_7">REGISTER</span><span  class="e2_6">HOME</span><span  class="e2_8">LOGIN</span></div><div  class="e2_4"></div><span  class="e2_13">At AgriGuide, we’re invested in building the future of farming, and we want to make life for farmers as easy and comfortable as possible, regardless of the size of productions that they manage. Giving you full control of your production is our goal, and we will do our best to make your crops or herds as productive as possible. To that end, we’ve developed hi-tech systems and services that help you connect with every step of your production. With our products, you’ll know exactly what you need to do and when.
FAQ</span></div>
          </body>
          </html>