<html >
          <head>
            <meta charset="utf-8">
          
            <title>Home</title>
            <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator">
            <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="styles.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
           
           <style>
            html,body{
              margin:0;
            }
          </style>
          </head>
          
          <body>
            <div class=e8_2>
<div class=e9_23>
<div  class="e9_22"></div>
<div  class="e9_20"><a th:href="@{/register}" ><i class="fa fa-fw fa-sign-in"></i> REGISTER</a></div>
<div  class="e9_15"> <i class="fa fa-facebook "></i></div>
<div  class="e9_16"> <i class="fa fa-twitter "></i></div>
 
<div  class="e9_18"><a th:href="@{/login}"><i class="fa fa-fw fa-user"></i>LOGIN</a></div>
<div  class="e9_21">Waether</div>
<div  class="e9_17">  <a th:href="@{/users}" style="float: right;"><i class="fa fa-fw fa-phone"></i>HELP</a></div>
</div>
<div  class="e9_28"></div>
<div  class="e12_14"></div>
<span  class="e9_29">About The Hub</span>
<span  class="e9_30">No Taxes ,No Intermediates Persons,Direct Contact,Low Cost</span>
<div  class="e9_31"></div>
<span  class="e9_32">ORDER</span>
<div  class="e9_33"></div>
<span  class="e9_34">Weather Report</span>
<span  class="e9_37">Applying pest and disease control is important to protect the farm and crops from the insects. Weather forecast helps the farmers to know when to apply the pests and chemicals to avoid the crop wastage.</span><div  class="e9_38"></div><span  class="e9_39">Call-Us</span>

<span  class="e9_42">toll-free:1800-4732-7946</span>
<span  class="e9_43">BUSINESS  ADDRESS7-96,GREEN FIELDS,KL UNIVERSITY,522503</span>
<div class=e9_46>
</div>
</div>
          </body>
          </html>